ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li {
    height: 50px;
    margin: 10px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #F2F2F2;
    border-radius: 10px;
}

.navbar_div, .mainbody_div{
    display: inline-block;
    vertical-align: top;
}
.navbar_div{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid #F2F2F2;
}
.mainbody_div {
    background-color: #000;
    margin-left: 300px;
}
.menu_icon, .menu_text {
    display: inline-block;
    vertical-align: middle;
}
.menu_text {
    margin-left: 20px;
}