.navbar_div,
.mainbody_div{
    display: inline-block;
    vertical-align: top;
}

.navbar_div {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 15%;
    border-right: 1px solid #F2F2F2;
}

.mainbody_div {
    width: 85%;
    padding-left: 22%;
}

.menu_icon,
.menu_text {
    display: inline-block;
    vertical-align: middle;
}

.menu_text {
    margin-left: 20px;
}

.wall,
.suggestions {
    display: inline-block;
    vertical-align: top;
}
.wall {
    width: 55%; 
}
.card img {
    width: 95%;
}
.post_category {
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: solid 1px #000;
}

.post_author {
    border-right: solid 1px #000;
    padding-right: 7px;
}

.post_datum {
    padding-left: 7px;
    color: gray;
}
.post_wall h5, .card-text {
    width: 95%;
}

.suggestions {
    padding-left: 6%;
}

.pict_article_suggest {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.pict_article_suggest,
.title_article_suggest {
    vertical-align: middle;
}
.title_article_suggest {
    padding-left: 5px;
}

.link_article_suggest {
    padding-left: 10px;
    text-decoration: underline;
    color: blue;
}

.article_suggesttion_x {
    padding-bottom: 15px;
}

@media (max-width:1200px) {

    .wall,
    .suggestions {
        display: block;
        width: 90%;
    }

    .footer_wall {
        display: none;
    }

    .suggestions {
        padding-left: 0%;
    }
}

@media (max-width:1120px) {
    .menu_text {
        display: none;
    }
}
@media (max-width:600px) {
    .navbar_div {
        display: none;
    }
    .bottom_navbar { 
        display: block;
    }
    .mainbody_div {
        padding-left: 5%;
        width: 100%;
    }
    .wall,
    .suggestions {
        width: 95%;
    }
}
@media (max-width:445px) {
    .post_author_datum {
       font-size: 10px;
    }
}
