.wall,
.suggestions {
    display: inline-block;
    vertical-align: top;
}

.wall {
    width: 55%;
}

.card img {
    width: 95%;
}

.post_category {
    width: fit-content;
    font-size: 11px;
}

.post_author {
    border-right: solid 1px #000;
    padding-right: 7px;
}

.post_datum {
    padding-left: 7px;
    color: gray;
}

.post_wall h5,
.card-text {
    width: 95%;
}

.suggestions {
    padding-left: 7%;
}

.pict_article_suggest {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.pict_article_suggest,
.title_article_suggest {
    vertical-align: middle;
}

.title_article_suggest {
    padding-left: 15px;
}

.link_article_suggest:link {
    padding-left: 10px;
    text-decoration: none;
    color: #212121;
}

.link_article_suggest:visited {
    text-decoration: none;
    color: gray;
}

.link_article_suggest:hover {
    text-decoration: underline;
    color: blue;
}

.link_article_suggest:active {
    text-decoration: underline;
    color: blue;
}

.article_suggesttion_x {
    padding-bottom: 15px;
    
}