.stories {
    min-height: 500px;
}
.storie {
    padding-top: 20px;
}
.stories_article_card, .stories_article_description {
    display: inline-block;
    vertical-align: top;
}
.stories_article_card {
    width: 30%;
}
.stories_article_description {
    padding-left: 20px;
}
.card img {
    width: 100%;
    height: 300px;
}


@media (max-width:740px) {
    .stories_category_1, .stories_category_2, .stories_category_3 {
        width: 90%;
        display: block
    } 
    .stories_category_2, .stories_category_3 {
        margin-left: 0%;
        margin-top: 20px;
    } 
}